lab 12/1(xml-shema code) .xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType  name="book">
      <xs:sequence>
         <xs:element name="title" type="xs:string"/>
         <xs:element name="h" type="xs:string"/>
         <xs:element name="paragraph" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>